<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
    <script src="{{url_for('static', filename='js/plot.js') }}"></script>
    <script>
        window.addEventListener("load", function(){
            const inString = `{{input}}`.trim();
            const outString = `{{output}}`.trim();

            const inData = inString.split(" ");
            const outData = outString.split(" ");

            window.plot(inData, outData);
        });
    </script>
    <title>Dashboard</title>
</head>
<body>
    Something should happen
    <canvas id="myChart" width="400" height="400"></canvas>
</body>
</html>